.intro {
    border: $border-test;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $colour-lightgrey;
}



.intro-wrapper {
    border: $border-test;
    min-height: 300px;


    @media (min-width: $breakpoint-narrow) {
        width: $width-large;
        min-height: 400px;

    }

    @media (min-width: $breakpoint-wide) {
        width: $width-xlarge;

    }


}

.intro-text {
    font-family: $font-headings;
    font-size: $font-size-large;
    line-height: $font-line-height-medium;
    padding-left: $space-small;
    padding-right: $space-small;
    padding-bottom: $space-small;

    @media (min-width: $breakpoint-narrow) {
    font-size: $font-size-xlarge;
    line-height: $font-line-height-medium;
    padding-top: $space-medium;


    }

    @media (min-width: $breakpoint-wide) {
        width: $width-small;

    }

}
