<div class="footer">
    <ul class="footer_nav">
        <li class="footer_item">
            <a class="footer_link" target="_blank" href="mialto:hutch.daniel@gmail.com">
                hutch.daniel@gmail.com
            </a>
        </li>
        <li class="footer_item">
            <a target="_blank" href="https://twitter.com/danielhutch">
                Twitter
            </a>
        </li>
        <li class="footer_item">
            <a class="footer_link" target="_blank" href="https://www.flickr.com/photos/daniel_hutchinson/">
                Flickr
            </a>
        </li>
        <li class="footer_item">
            <a class="footer_link" target="_blank" href="https://www.linkedin.com/in/danielhutchinson12345">
                LinkedIn
            </a>
        </li>
        <li class="footer_item">
            <a class="footer_link" target="_blank" href="https://github.com/danielhutch">
                GitHub
            </a>
        </li>
    </ul>
</div>