.footer {
    background: $colour-darkgrey;
    font-family: $font-body;
    font-size: $font-size-regular;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    @media (min-width: $breakpoint-narrow) {
        height: 5em;
    }

    @media (min-width: $breakpoint-wide) {

    }
}

.footer__nav {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left:0;
    padding-right: $space-small;
    padding-top: $space-large;
    padding-bottom: $space-large;

    @media (min-width: $breakpoint-narrow) {
        padding-right: 2em;
        padding-top: 0;
        padding-bottom: 0;
        flex-direction: row;
    }

    @media (min-width: $breakpoint-wide) {

    }
}

.footer__item {
    margin-left: $space-small;
    margin-bottom: $space-small;

    @media (min-width: $breakpoint-narrow) {
        margin-left: 2em;
        margin-bottom: 0;
    }

    @media (min-width: $breakpoint-wide) {

    }
}

.footer__link {

    text-decoration: none;
    color: $colour-white;
    font-weight: normal;
}

.footer__link:hover {
    color: $colour-green;
    text-decoration: underline;
}