.project-list {
    border: $border-test;
    padding: $space-small;
    display: flex;
    flex-direction: column;
    align-items: center;


    @media (min-width: $breakpoint-narrow) {
        padding: $space-large;


    }

    @media (min-width: $breakpoint-wide) {


    }

}

.project-list__posts {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    border: $border-test;
    width: 100%;

    @media (min-width: $breakpoint-narrow) {
        width: $width-large;
    }

    @media (min-width: $breakpoint-wide) {
        width: $width-xlarge;
    }



}

.project-list__post {
    list-style-type: none;

  /*  flex-basis: 350px;
    flex-grow: 1;
    flex-shrink:1;
*/

    flex: 1 1 4500px;
    margin-left: $space-small;
    margin-right: $space-small;
    margin-bottom:  $space-large;

    @media (min-width: $breakpoint-narrow) {

    flex-basis: 300px;

    }

    @media (min-width: $breakpoint-wide) {

    flex-basis: 300px;

    }
}

.project-list__post-link {
    text-decoration: none;
    color: $colour-darkgrey;
}

a.project-list__post-link:hover {
    color: $colour-green;
    text-decoration: underline;
}

.project-list__client {
    font-size: $font-size-medium;


    @media (min-width: $breakpoint-narrow) {

    }

    @media (min-width: $breakpoint-wide) {

    }

}
.project-list__title {
    font-size: $font-size-medium;


    @media (min-width: $breakpoint-narrow) {

    }

    @media (min-width: $breakpoint-wide) {

    }

}

.project-list__image {
    width: 100%

}