.project-list {
    padding: $space-small;

    @media (min-width: $breakpoint-narrow) {
        padding: $space-large;


    }

    @media (min-width: $breakpoint-wide) {
        max-width: $width-xlarge;

    }

}

.project-list__posts {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    border: 10px solid pink;


}

.project-list__post {
    list-style-type: none;

  /*  flex-basis: 350px;
    flex-grow: 1;
    flex-shrink:1;
*/

    flex: 1 1 4500px;

    @media (min-width: $breakpoint-narrow) {

    flex-basis: 400px;

    }

    @media (min-width: $breakpoint-wide) {

    flex-basis: 500px;

    }
}

.project-list__post-link {
    text-decoration: none;
    color: $colour-darkgrey;
}

a.project-list__post-link:hover {
    color: $colour-green;
    text-decoration: underline;
}


.project-list__title {
    font-size: $font-size-medium;


    @media (min-width: $breakpoint-narrow) {

    }

    @media (min-width: $breakpoint-wide) {

    }

}

.project-list__image {
    width: 100%

}