<div class="project-list">
    <ul class="project-list__posts">
        {% for post in site.posts %}
        <li class="project-list__post">
            <a class="project-list__post-link" href="{{ post.url | prepend: site.baseurl }}">
                <img class="project-list__image" src="/assets/images/{{post.thumb}}">
                 <div class="project-list__client">
                    {{ post.client }}
                </div>
                <div class="project-list__title">
                    {{ post.title }}
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
