.header {
    background: $colour-lightgrey;
    font-family: $font-headings;
    font-size: $font-size-medium;
    display: flex;
    width: 100%;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (min-width: $breakpoint-narrow) {

    }

    @media (min-width: $breakpoint-wide) {

    }
}

.header__title{
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    display: flex;
    justify-content: flex-start;
    padding-left: 1em;
    color: $colour-darkgrey;
    line-height: $font-line-height-small;

    @media (min-width: $breakpoint-narrow) {
        padding-left: 2em;
    }

    @media (min-width: $breakpoint-wide) {

    }
}

.header__nav {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding-left:0;
    padding-right: 1em;

    @media (min-width: $breakpoint-narrow) {
        padding-right: 2em;
    }

    @media (min-width: $breakpoint-wide) {

    }
}

.header__item {
    margin-left: 1em;

    @media (min-width: $breakpoint-narrow) {
        margin-left: 2em;
    }

    @media (min-width: $breakpoint-wide) {

    }
}

.header__link {
    text-decoration:none;
    color: $colour-darkgrey;
}

a.header__link:hover {
    color: $colour-green;
    text-decoration:underline;
}
