.project-detail {

}

.project-detail__title {
    background: $colour-lightgrey;
    padding: 1em;

    @media (min-width: $breakpoint-narrow) {
        background: $colour-green;
        padding: 2em;
    }

    @media (min-width: $breakpoint-wide) {
        background: $colour-darkgrey;
        max-width: 1000px;
        margin: auto;
    }

}

.project-detail__content {

}

.project-detail__image-fill-container {
    width: 100%;
    height: auto;
}

.project-detail_paragraph {
    font-family: $font-body;
    font-size: $font-size-medium;
}

.project-detail_single-column {
    background: $colour-lightgrey;
    padding: 1em;

    @media (min-width: $breakpoint-narrow) {
        background: $colour-green;
        padding: 2em;
    }

    @media (min-width: $breakpoint-wide) {
        background: $colour-darkgrey;
        max-width: 1000px;
        margin: auto;
    }
}
