.project-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: $border-test;


}

.project-detail-main-image {
    width: 100%;
    height: 500px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    margin-bottom: $space-large;
    }

.project-detail__intro{
    padding: $space-small;

    @media (min-width: $breakpoint-narrow) {
        padding: $space-none;
        max-width: $width-medium;

    }

    @media (min-width: $breakpoint-wide) {
        max-width: $width-large;

    }
}

.project-detail__overview {


}

.project-detail__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: $border-test;

}

.project-detail__fill-width {
    width: 100%;
    margin-bottom: $space-large;
}

.project-detail__column {
    padding: $space-small;

    @media (min-width: $breakpoint-narrow) {
        padding: $space-none;
        max-width: $width-medium;

    }

    @media (min-width: $breakpoint-wide) {
        max-width: $width-large;

    }
}

.project-detail h1{
    font-family: $font-headings;
    font-size: $font-size-large;
    line-height: $font-line-height-medium;
    color: $colour-darkgrey;
    margin-top: 0;
    margin-bottom: $space-small;
}

.project-detail__overview{
    font-family: $font-headings;
    font-size: $font-size-large;
    line-height: $font-line-height-medium;
    color: $colour-darkgrey;
    margin-top: 0;
    margin-bottom: $space-large;
}

.project-detail__h2 {
    font-family: $font-headings;
    font-size: $font-size-large;
    line-height: $font-line-height-small;
    color: $colour-darkgrey;
    margin-top: 0;
    margin-bottom: $space-small;
}


.project-detail__body {
    font-family: $font-body;
    font-size: $font-size-medium;
    line-height: $font-line-height-medium;
    color: $colour-darkgrey;
    margin-top: 0;
    margin-bottom: $space-large;


    @media (min-width: $breakpoint-narrow) {

    }

    @media (min-width: $breakpoint-wide) {

    }

}


