<div class="about">
    <div class="about__intro">
        <p>I’m an Interaction Designer currently freelancing in London. I endeavour to make content accessible as possible whilst creating engaging experiences.</p>
    </div>

    <div class="about__body">
        <p>
            I’ve enjoyed time freelancing at the following agencies:
            <a href="http://analogfolk.com">AnalogFolk</a>,
            <a href="http://www.akqa.com/contact/berlin">AKQA Berlin</a>,
            <a href="http://www.bostockandpollitt.com">Bostock and Pollitt</a>,
            <a href="http://www.thisisdare.com">Dare</a>,
            <a href="http://www.engagestudio.com">Engage</a>,
            <a href="http://www.movingbrands.com">Moving Brands</a>, and
            <a href="http://wilsonfletcher.com">Wilson Fletcher</a>.
        </p>
        <p>
            Over the past three years I have been developing and documenting digital standards for EE and HSBC.
        </p>
        <p>
            Previous clients include:
        </p>
        <p>
            Apple, Barclaycard, EE, Google, HSBC, Invesco Perpetual, Kingston University, London Fashion Week, MSN, Nokia, Science Museum, Sony, Swisscom, The Royal Marsden, and Toshiba.
        </p>
    </div>

    <div class="about__contact">
        <p>
            Contact
        </p>
        <p>
            I’m always happy to hear from companies or individuals about upcoming projects.<br>
            +44 (0)7867 510 569<br>
            <a href="mailto:hutch.daniel@gmail.com" >hutch.daniel@gmail.com</a>
        </p>
    </div>

    <div class="about__company-info">
        <p>
            Company Info
        </p>
        <p>
            Daniel Hutchinson Limited<br>
            Registered Office: 24 Connaught Gardens, London N13 5BS<br>
            Registered in England and Wales Company Number 06576266
        </p>
    </div>

</div>