<div class="about">
    <div class="about__intro">
        <div class="about__intro-wrapper" >

                <h2 class="about__intro-heading" >
                    About
                </h2>
                <div class="about__intro-line" >
                </div>
                <p class="about__intro-text" >
                   I’m an Interaction Designer currently freelancing in London. I endeavour to make content accessible as possible whilst creating engaging experiences.
                </p>
        </div>
    </div>

    <div class="about__body">
        <div class="about__body-wrapper" >
            <p class="about__body-paragraph" >
                Over the past three years I have been developing and documenting digital standards for EE and HSBC.
            </p>
            <p class="about__body-paragraph" >
                I’ve enjoyed time freelancing at the following agencies:
                <a class="about__link" href="http://analogfolk.com">AnalogFolk</a>,
                <a class="about__link" href="http://www.akqa.com/contact/berlin">AKQA Berlin</a>,
                <a class="about__link" href="http://www.bostockandpollitt.com">Bostock and Pollitt</a>,
                <a class="about__link" href="http://www.thisisdare.com">Dare</a>,
                <a class="about__link" href="http://www.engagestudio.com">Engage</a>,
                <a class="about__link" href="http://www.movingbrands.com">Moving Brands</a>, and
                <a class="about__link" href="http://wilsonfletcher.com">Wilson Fletcher</a>.
            </p>
            <p class="about__body-paragraph" >
                Previous clients include:
            </p>
            <p class="about__body-paragraph" >
                Apple, Barclaycard, EE, Google, HSBC, Invesco Perpetual, Kingston University, London Fashion Week, MSN, Nokia, Science Museum, Sony, Swisscom, The Royal Marsden, and Toshiba.
            </p>
            <p class="about__body-paragraph" >
                Contact
            </p class="about__body-paragraph" >
            <p class="about__body-paragraph" >
                I’m always happy to hear from companies or individuals about upcoming projects.<br>
                +44 (0)7867 510 569<br>
                <a class="about__link" href="mailto:hutch.daniel@gmail.com" >hutch.daniel@gmail.com</a>
            </p class="about__body-paragraph" >
            <p class="about__body-paragraph" >
                Company Info
            </p>
            <p class="about__body-paragraph" >
                Daniel Hutchinson Limited<br>
                Registered Office: 24 Connaught Gardens, London N13 5BS<br>
                Registered in England and Wales Company Number 06576266
            </p>
        </div>
    </div>

</div>