<div class="about">
    <div class="about__intro">
        <div class="about__intro-wrapper" >

                <h2 class="about__intro-heading" >
                    About
                </h2>
                <div class="about__intro-line" >
                </div>
                <p class="about__intro-text" >
                   I&rsquo;m an Interaction Designer currently freelancing in London. With over fourteen years of digital experience across multiple industries and at some of the best agencies.
                </p>
        </div>
    </div>

    <div class="about__body">
        <div class="about__body-wrapper" >
            <p class="about__body-paragraph" >
                Over the past five years I have been creating and documenting digital standards for HSBC and EE along with designing websites, platforms and services.
            </p>
            <p class="about__body-paragraph" >
                I enjoy leading teams, working with directly with clients and being as hands on as possible. With a keen interest in technology I endeavour to keep up to date with development best practices; I’m actively learning and building as much as I can. I also enjoy teaching and annually guest lecture at Kingston University on their UX postgraduate course.

            </p>            
            <p class="about__body-paragraph" >
                Previous clients include: Apple, Barclaycard, EE, Google, HSBC, Invesco Perpetual, Kingston University, London Fashion Week, MSN, Nokia, Science Museum, Sony, Swisscom, The Royal Marsden NHS Foundation Trust.
            </p>
            <p class="about__body-paragraph" >
                Agencies include: 
                <a class="about__link" href="http://analogfolk.com">AnalogFolk</a>,
                <a class="about__link" href="http://www.akqa.com/contact/berlin">AKQA Berlin</a>,
                <a class="about__link" href="http://www.bostockandpollitt.com">Bostock and Pollitt</a>,
                <a class="about__link" href="http://www.thisisdare.com">Dare</a>,
                <a class="about__link" href="http://www.engagestudio.com">Engage</a>,
                <a class="about__link" href="http://www.movingbrands.com">Moving Brands</a>, and
                <a class="about__link" href="http://wilsonfletcher.com">Wilson Fletcher</a>.
            </p>
            <h2 class="about__heading-bold" >
                Contact
            </h2>
            <p class="about__body-paragraph" >
                I’m always happy to hear from companies or individuals about upcoming projects.<br>
                <br>
                <a class="about__link" href="mailto:hutch.daniel@gmail.com" >
                    hutch.daniel@gmail.com
                </a>
                <br>
                <a class="about__link" href="tel:+447867510569" >
                +44 (0)7867 510 569
                </a>
            </p>
            <p class="about__heading-bold" >
                Company Information
            </p>
            <p class="about__body-paragraph" >
                Daniel Hutchinson Limited<br>
                Registered Office: 24 Connaught Gardens, London N13 5BS<br>
                Registered in England and Wales Company Number 06576266
            </p>
        </div>
    </div>

</div>