$font-headings: 'Atlas Grotesk Regular';
$font-body: times;

$font-size-large: 1.5em;
$font-size-medium: 1.25em;
$font-size-small: 1em;

$font-line-height-large: 200%;
$font-line-height-medium: 150%;
$font-line-height-small: 125%;
