$font-headings: 'Atlas Grotesk Regular';
$font-body: times;

$font-size-large: 2em;
$font-size-medium: 1.25em;
$font-size-small: 1em;

$line-height-large: 200%;
$line-height-medium: 150%;
$line-height-small: 125%;
