$font-headings: 'Atlas Grotesk Regular';
$font-body: 'Atlas Grotesk Regular';

$font-size-xlarge: 2em /* 16x2=32 */ ;
$font-size-large: 1.5em /* 16x1.5=24 */ ;
$font-size-medium: 1.25em /* 16x1.25=20 */ ;
$font-size-small: 1em /* 16x1=16 */ ;

$font-line-height-large: 200%;
$font-line-height-medium: 150%;
$font-line-height-small: 125%;
