$space-xxlarge: 64px;
$space-xlarge: 48px;
$space-large: 32px;
$space-medium: 24px;
$space-small: 16px;
$space-none: 0px;

$width-small: 384px;
$width-medium: 600px;
$width-large: 800px;
$width-xlarge: 1200px;