<div class="project-nav">
    <div class="project-nav__wrapper">
        {% if page.next.url %}
            <div class="project-nav__previous">
                <p>Previous</p>
                <a class="project-nav__link" href="{{page.next.url}}">
                    {{page.next.title}}
                </a>
            </div>
        {% endif %}
        {% if page.previous.url %}
            <div class="project-nav__next">
                <p>Next</p>
                <a class="project-nav__link" href="{{page.previous.url}}">
                    {{page.previous.title}}
                </a>
            </div>
        {% endif %}
    </div>
</div>